<!DOCTYPE html>
<html lang="en">
	{% include "head.njk" %}
	<body>
		<ed-main>
      <ed-layout-container>
        <!-- prettier-ignore -->
        <ed-heading class="ed-u-display-block ed-u-margin-bottom-xl" tagName="h1" variant="display-default">AI & Design Systems Links & Resources</ed-heading></h1>
        {% include "resource-category-list.njk" %}
      </ed-layout-container>
		</ed-main>

		<script type="module" src="js/components.js"></script>
		<script type="module" src="js/scripts.js"></script>
	</body>
</html>
