<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI & Design Systems Resources</title>
    <meta
      name="description"
      content="A collection of resources related to AI & Design Systems"
    />
    <meta name="keywords" content="ai, design systems, atomic design, product design, ux design, frontend development" />
    <meta name="author" content="Brad Frost, Ian Frost, TJ Pitre" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="AI and Design Systems Resources" />
    <meta
      property="og:description"
      content="A collection of resources related to AI & Design Systems"
    />
    <meta property="og:image" content="https://aianddesign.systems/images/social-card.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@brad_frost" />
    <meta name="twitter:title" content="AI and Design Systems" />
    <meta
      name="twitter:description"
      content="A collection of resources related to AI & Design Systems"
    />
    <meta name="twitter:image" content="https://aianddesign.systems/images/social-card.png" />
    <link rel="icon" type="image/png" href="./favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <link rel="shortcut icon" href="./favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/./apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Tokens Course" />
    <link rel="canonical" href="https://aianddesign.systems" />

    <link rel="stylesheet" href="./css/styles.css" />
    {% include "analytics.njk" %}
  </head>