{# Collect unique types #}
{% set allTypes = [] %}
{% for resource in resources %}
  {% if resource.type and resource.type not in allTypes %}
    {% set allTypes = (allTypes.push(resource.type), allTypes) %}
  {% endif %}
{% endfor %}
{% set sortedTypes = allTypes | sort %}

{# Collect unique sources #}
{% set allSources = [] %}
{% for resource in resources %}
  {% if resource.source and resource.source not in allSources %}
    {% set allSources = (allSources.push(resource.source), allSources) %}
  {% endif %}
{% endfor %}
{% set sortedSources = allSources | sort %}

{# Collect unique tags #}
{% set allTagNames = [] %}
{% for resource in resources %}
  {% for tag in resource.tags %}
    {% if tag.name not in allTagNames %}
      {% set allTagNames = (allTagNames.push(tag.name), allTagNames) %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% set sortedTagNames = allTagNames | sort %}

<ed-toolbar behavior="responsive" class="ed-u-margin-bottom-lg">
    <div slot="left">
    <ed-select-field
      id="filter-source"
      label="Source"
      items='[{"value":"","label":"All Sources"}{% for source in sortedSources %},{"value":"{{ source }}","label":"{{ source | capitalize }}"}{% endfor %}]'
    ></ed-select-field>
    </div>

    <div slot="left">
    <ed-select-field
      id="filter-type"
      label="Type"
      items='[{"value":"","label":"All Types"}{% for type in sortedTypes %},{"value":"{{ type }}","label":"{{ type | capitalize }}"}{% endfor %}]'
    ></ed-select-field>
    </div>

  <div slot="right">
    <ed-select-field
      id="filter-tag"
      label="Tag"
      items='[{"value":"","label":"All Tags"}{% for tag in sortedTagNames %},{"value":"{{ tag }}","label":"{{ tag }}"}{% endfor %}]'
    ></ed-select-field>
  </div>
</ed-toolbar>
