<ed-card>
  <ed-heading>{{ resource.title }}</ed-heading>
  <ed-text-passage>{{ resource.description }}</ed-text-passage>
  <ed-button href="{{ resource.href }}" slot="footer">View</ed-button>
</ed-card>